# As the datasets are too large, they are not uploaded to the repository.
Datasets
PipelineDatasets

# The embedding of glove.6B.50d.txt is also excluded.
glove.42B.300d.txt

# Particular results of the modules are also excluded. In specific, all the directories inside __pycache__ are excluded.
/**/__pycache__/
Result

# To save locally results of interest
ResultCollection

# Local environment testing
LocalTesting

MetadataLLM/model
